<% include partials/head %>

<main>
  <h1><%= data.question %></h1>

  <section>
    <% data.options.forEach(option => {
      if (option.title) { %>
        <h3><%= option.title %></h3>
        <p><%= option.value %></p>
      <% }
    }) %>
  </section>

  <section id="share">
    <h3>Share this poll</h3>
    <a href="<%= data.url %>" target="_blank"><%= data.url %></a>
  </section>

  <section>
    <h3>Create a poll</h3>
    <a href="/poll" class="button">Create</a>
  </section>
</main>

<script src="/js/poll-data.js"></script>

<% include partials/tail %>
